<!DOCTYPE html>
<html>
<head>
  <title>API Documentation</title>
  <style>
    body {
      background-color: #333333;
      color: #ffffff;
    }
    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    h1 {
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 32px;
      text-align: center;
    }
    .button-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .button {
      display: inline-block;
      padding: 12px 24px;
      background-color: #00cc99;
      color: #ffffff;
      font-size: 18px;
      font-weight: bold;
      text-decoration: none;
      margin: 0 16px;
      border-radius: 4px;
    }
    p {
      margin-top: 16px;
      text-align: center;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>API DOCUMENTATION</h1>
    <p>Click button to read documentation or Usage of Note API endpoints</p>
    <div class="button-container">
      <a href='https://github.com/victoria-igbobi65/uptick#usage' class="button">Usage</a>
      <a href='https://github.com/victoria-igbobi65/uptick#readme' class="button">Readme</a>
    </div>
  </div>
</body>
</html>

